:root {
	--color-main: #0e1212;
	--color-blue: #3faffe;
	--color-white: #fafafa;
	--color-darkblue: #43658b;
	--box-shadow: 3px 2px 7px #d3d3d3;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 100%; /* 1rem = 10px, 10px/16px = 62.5% */
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	/* 'Nanum Pen Script', cursive; */
	background-color: #fafafa;
	font-weight: 400;
	/* line-height: 1.6; */
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 2rem;
	overflow-x: hidden;
	min-height: 100vh;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
	outline: none;
}

button:focus {
	outline: none;
}

a {
	color: black;
	text-decoration: none;
}

.active > li {
	color: var(--color-blue);
	border-bottom: 1px solid #fff;
}

.Typewriter__cursor {
	color: var(--color-blue);
}
